body monetatepreview.mt-pb {
  position: static;
}

/* full width */
.expandNanoContainer {
  width: 100%;
  background-color: #111;
}

/* width of website */
.expandNanoWrapper {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

/* expand functionality */
.toggleTab {
  cursor: pointer;
  display: table;
  width: 100%;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* expand button/arrow */
.expandNanoButton {
  width: 30px;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  text-align: center;
}

.expandNanoButton.active {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* mini list */
.miniOfferList {
  display: table-cell;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.miniOffer {
  display: none;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: "Futura LT W01 Medium", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.miniOffer.active {
  display: block;
}

/* carousel list */
.bigNanoContainer {
  display: none;
  overflow: hidden;
  text-align: center;
}

.bigNanoCarousel {
  width: 100%;
  display: table;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bigNanoCarousel .prevArrow,
.bigNanoCarousel .nextArrow {
  cursor: pointer;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.bigNanoCarousel .prevArrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bigNanoSlider {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

.bigNanoSlider .bigNanoAnimate {
  position: relative;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide {
  width: 100%;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  font-family: "Futura LT W01 Medium", Arial, Helvetica, sans-serif;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide p.mainOfferBig {
  font-size: 2.5em;
  line-height: 1;
  font-weight: bold;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide p.mainOfferSmall {
  font-size: 1.4em;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide .mainOfferlink {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding: .5em;
  display: inline-block;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide .mainOfferdisc {
  color: #fff;
  font-size: .8em;
}

.expandNanoContainer.bottom-fixed {
  position: fixed;
  z-index: 22;
  bottom: 0;
}

.expandNanoContainer.bottom-fixed .expandNanoWrapper,
.expandNanoContainer.bottom-fixed .toggleTab,
.expandNanoContainer.bottom-fixed .bigNanoContainer {
  width: auto;
}

.expandNanoContainer.bottom-fixed .bigNanoContainer {
  padding: 1.5em 0;
}

.expandNanoContainer.bottom-fixed .toggleTab {
  background: #111;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -25px;
}

.expandNanoContainer.bottom-fixed .toggleTab .expandNanoButton {
  display: none;
}

.expandNanoContainer.bottom-fixed .bigNanoSlide {
  background: #2b2b2b;
  display: inline-block;
  width: auto;
}
 

 /*# sourceMappingURL= style.css.map */