/* full width */
.expandNanoContainer {
  width: 100%;
  background-color: #000;
}
/* width of website */
.expandNanoWrapper {
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
}
/* expand functionality */
.expandNanoInput { display: none; }
.expandNanoLabel {
  cursor: pointer;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}
.expandNanoButton {
  width: 30px;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; 
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg); 
  -webkit-transform: rotate(180deg); 
  transform: rotate(180deg);
  text-align: center;
}
.expandNanoInput:checked ~ .expandNanoLabel .expandNanoButton {
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg); 
  -webkit-transform: rotate(0deg); 
  transform: rotate(0deg);
}
.expandNanoInput:checked ~ .expandNanoLabel .miniOfferList {
  opacity: 0;
}
.expandNanoInput:checked ~ .bigNanoContainer {
  max-height: 999px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
}

/* mini list */
.miniOfferList {
  display: table-cell;
  height: 20px;
  overflow: hidden;
  padding: 10px 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; 
}
.miniOffer {
  display: none;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.miniOffer.active {
  display: block;
}

/* carousel list */
.bigNanoContainer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; 
}
.bigNanoCarousel {
  padding: 5px 10%;
  display: table;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}
.bigNanoCarousel .prevArrow,
.bigNanoCarousel .nextArrow {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}
.bigNanoCarousel .prevArrow { 
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg); 
  -webkit-transform: rotate(180deg); 
  transform: rotate(180deg);
}
.bigNanoSlides {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.bigNanoSlide {
  width: 100%;
}
.bigNanoSlide.active {
}
.bigNanoSlide p {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.bigNanoSlide p.mainOfferBig {
  font-size: 2.5em;
  line-height: 1;
  font-weight: bold;
}
.bigNanoSlide p.mainOfferSmall {
  font-size: 1.4em;
}
.bigNanoSlide .mainOfferlink {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding: .5em;
  display: inline-block;
}
.bigNanoSlide .mainOfferdisc {
  color: #fff;
  font-size: .8em;
}
