/* full width */
.expandNanoContainer {
  width: 100%;
  background-color: #111;
}

/* width of website */
.expandNanoWrapper {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

/* expand functionality */
input[type=checkbox].expandNanoInput {
  display: none;
}

.expandNanoLabel {
  cursor: pointer;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* expand button/arrow */
.expandNanoButton {
  width: 30px;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  text-align: center;
}

.expandNanoInput:checked ~ .expandNanoLabel .expandNanoButton {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.expandNanoInput:checked ~ .expandNanoLabel .miniOfferList {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.expandNanoInput:checked ~ .bigNanoContainer {
  max-height: 999px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* mini list */
.miniOfferList {
  display: table-cell;
  padding: 10px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.miniOffer {
  display: none;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Futura LT W01 Medium", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.miniOffer.active {
  display: block;
}

/* carousel list */
.bigNanoContainer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bigNanoCarousel {
  padding: 5px 10%;
  display: table;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bigNanoCarousel .prevArrow,
.bigNanoCarousel .nextArrow {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

.bigNanoCarousel .prevArrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bigNanoSlider {
  display: table-cell;
  vertical-align: middle;
  max-width: 780px;
  overflow: hidden;
  width: 100%;
}

.bigNanoSlider .bigNanoAnimate {
  width: 100%;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide {
  width: 100%;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide p {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  font-family: "Futura LT W01 Medium", Arial, Helvetica, sans-serif;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide p.mainOfferBig {
  font-size: 2.5em;
  line-height: 1;
  font-weight: bold;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide p.mainOfferSmall {
  font-size: 1.4em;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide .mainOfferlink {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding: .5em;
  display: inline-block;
}

.bigNanoSlider .bigNanoAnimate .bigNanoSlide .mainOfferdisc {
  color: #fff;
  font-size: .8em;
}
 

 /*# sourceMappingURL= style.css.map */