$font: "Futura LT W01 Medium", Arial, Helvetica, sans-serif;
$bgColor: #111;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}
@mixin transform($var) {
  -webkit-transform: $var;
  -moz-transform: $var;
  -ms-transform: $var; 
  -o-transform: $var;
  transform: $var;
}


// monetate preview
body monetatepreview.mt-pb { 
  position: static;
}

/* full width */
.expandNanoContainer {
  width: 100%;
  background-color: $bgColor;
}
/* width of website */
.expandNanoWrapper {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}
/* expand functionality */
.toggleTab {
  cursor: pointer;
  display: table;
  width: 100%;
  padding: 1em;
  @include box-sizing();
}
/* expand button/arrow */
.expandNanoButton {
  width: 30px;
  display: table-cell;
  vertical-align: middle;
  @include transition(all .3s ease);
  @include transform(rotate(180deg));
  text-align: center;
}
.expandNanoButton.active {
  @include transform(rotate(0deg));
}
/* mini list */
.miniOfferList {
  display: table-cell;
  @include transition(all 1s ease);
}
.miniOffer {
  display: none;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: $font;
  cursor: pointer;
}
.miniOffer.active {
  display: block;
}

/* carousel list */
.bigNanoContainer {
  display: none;
  overflow: hidden;
  text-align: center;
}
.bigNanoCarousel {
  width: 100%;
  display: table;
  position: relative;
  @include box-sizing();
}
.bigNanoCarousel .prevArrow,
.bigNanoCarousel .nextArrow {
  cursor: pointer;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}
.bigNanoCarousel .prevArrow { 
  @include transform(rotate(180deg));
}

.bigNanoSlider {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden; 
  
  .bigNanoAnimate {
    position: relative;
    // width: 100%;
    
    .bigNanoSlide {
      width: 100%;
    }
    .bigNanoSlide.active {
    }
    .bigNanoSlide p {
      margin: 0;
      color: #fff;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      text-transform: uppercase;
      font-family: $font;
    }
    .bigNanoSlide p.mainOfferBig {
      font-size: 2.5em;
      line-height: 1;
      font-weight: bold;
    }
    .bigNanoSlide p.mainOfferSmall {
      font-size: 1.4em;
    }
    .bigNanoSlide .mainOfferlink {
      color: #fff;
      font-size: 1.3em;
      font-weight: bold;
      padding: .5em;
      display: inline-block;
    }
    .bigNanoSlide .mainOfferdisc {
      color: #fff;
      font-size: .8em;
    }
  }
}


.expandNanoContainer.bottom-fixed {
  position: fixed;
  z-index: 22;
  bottom: 0; 
  .expandNanoWrapper, 
  .toggleTab, 
  .bigNanoContainer {
    width: auto;
  }
  .bigNanoContainer { padding: 1.5em 0; }
  .toggleTab {
    background: $bgColor;
    position: absolute;
    top: -50px; // figure out exact height in js?
    left: 50%;
    margin-left: -25px; // same here abt js
    .expandNanoButton { display: none; }
  }
  .bigNanoSlide {
    background: lighten($bgColor, 10%);
    display: inline-block;
    width: auto;
  }
}